.custom-nav {
    background-color: transparent;
    border-radius: 0;
    padding: 1rem 0;
}

.custom-nav .nav-link {
    color: var(--text-main);
    margin-bottom: 0.5rem;
    border-radius: 4px;
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
}

.custom-nav .nav-link:hover {
    background-color: var(--bg-sidebar); /* Subtle highlight */
    color: var(--link-hover);
    text-decoration: none;
}

.custom-nav .nav-link i {
    margin-right: 10px;
    color: var(--text-muted);
}